body{
  
font-family: Arial; 
 background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
 margin:0;
}
.container{

    background-color: rgb(118, 133, 138);
  text-align: center;
  padding-bottom: 20px;
 margin: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: black;
 width: 3000px;

}
.input-box {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}
#taskbtn{
  background-color: rgb(55, 203, 55);
border:none;
padding: 8px 10px;
margin-left: 2px;


}